.main_title_logo {
  font-size: 26px;
  font-weight: bold;
  color: white;
  padding: 30px
}

.main_title_logo_small {
  font-size: 26px;
  font-weight: bold;
  color: white;
  padding: 20px 
}

.siderchange span{
  display:none;
}

.transport-s-or-l {
  transition: margin 0.8s, transform 0.8s;
  -moz-transition: margin 0.8s, -moz-transform 0.8s;
  -webkit-transition: margin 0.8s,-webkit-transform 0.8s;
  -o-transition: margin 0.8s, -o-transform 0.8s;
}

.content_background {
  padding: 70px 16px 0;
  min-height: 900px;
}

.layout {
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.admin_sider {
  position: fixed;
  height: 100vh;
  left: 0;
  overflow: auto;
  z-index: 1000;
}

.header-right {
  position: fixed;
  right: 0;
  margin-right: 75px
}

.pop-item {
  margin:2px 0;
  width: 100%
}
