/*
 * -- Layout Styles --
 */
.l-content {
  margin: 0 auto;
}

.l-box {
  padding: 0.5em 2em;
}

/*
* -- MENU STYLES --
* Make the menu have a very faint box-shadow.
*/
.pure-menu {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.pure-menu-link {
  padding: .5em .7em;
}


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
  text-align: center;
  width: 100%;
  height: 0;
  padding-bottom: 20%;
  padding-top: 20%;
  margin-bottom: 3em;
  display: table;
}

.b-background1 {
  background: transparent url('/closeup-photo-of-brown-and-black-wooden-houses-digital-734102.jpg') 0 0 no-repeat fixed;
}

.b-background2 {
  background: transparent url('/alberta-2297204_1920.jpg') 0 0 no-repeat fixed;
}

.b-background3 {
  background: transparent url('/landscape-1622739_1920.jpg') 0 0 no-repeat fixed;
}

.b-background4 {
  background: transparent url('/illust_61283291_20190910_163354.jpg') 0 0 no-repeat fixed;
}

.banner-head {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 2.3em;
  color: white;
  font-weight: 500;
}

/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the pricing table elements
 */
.pricing-tables,
.information {
  max-width: 1400px;
  margin: 0 auto;
}

.pricing-tables {
  margin-bottom: 3.125em;
  text-align: center;
}
